@import "tailwindcss";

:root {
  --brand-navy: #141729;
  --foreground: #ededed;
  --highlighted: #dc9832;
}

@theme inline {
  --color-brand-bg: var(--brand-navy);
  --color-foreground: var(--foreground);
  --color-highlighted: var(--highlighted);
  --font-sans: var(--font-inter);
  --font-display: var(--font-display);
}

body {
  background-color: var(--brand-navy);
  color: var(--foreground);
}
